#rightSide {
    font-family: 'Ubuntu';
    font-size: 1.3em;

}

#rightSide p{
    line-height: 1.2em !important;
}

#rightSide h1,
#rightSide h2,
#rightSide h3,
#rightSide h4 {
    font-family: 'Segoe UI Semibold' !important;
}

/*To support scrolling on the left menu*/
#leftSide {
    height:400px;
}

/* No shadow for code blocks */
pre, blockquote {
    text-shadow: none;
}

ic {
    font-family: "Consolas" !important;
    font-size: .8em;
    border:  rgba(0, 0, 0, 0.16) 1px solid;
    border-radius: 3px;
    background-color: rgba(249, 251, 179, 0.16);
    padding: 2px 4px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
