#rightSide {
    font-family: 'Ubuntu';
    font-size: 1.3em;
    /*padding-left: 400px;*/
}

#rightSide p{
    line-height: 1.2em !important;
}

#rightSide h1,
#rightSide h2,
#rightSide h3,
#rightSide h4 {
    font-family: 'Segoe UI Semibold', "Muli" !important;
}

/*To support scrolling on the left menu*/
#leftSide {
    height:400px;
    width: 400px;

}

#leftSide ul {
    font-size: 1.1em;
    /*!*font-weight: 100;*!*/
}

/* No shadow for code blocks */
pre, blockquote {
    text-shadow: none;
    font-size: 1.01em;
}

ic,code:not(.hljs) {
    font-family: "Inconsolata-g for Powerline","Inconsolata", "Consolas" !important;
    font-size: .8em;
    border:  rgba(0, 0, 0, 0.16) 1px solid;
    border-radius: 3px;
    background-color: #e6e6e6;
    padding: 1px 4px !important;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .8);
}
red {
    color: #9d0006;
}
kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: 900;
    line-height: 1.4;
    color: #242729;
    text-shadow: 0 1px 0 #FFF;
    background-color: #e1e3e5;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px #FFF inset;
    white-space: nowrap;
}

#topbar {
    -webkit-box-shadow: 0 2px 9px 0 #222;
    box-shadow: 0 2px 9px 0 #222;
}

#leftSide ul ul {
    border-left: none;
}

li.jstree-leaf > a .jstree-icon{
    background:url("/vendor/components/jTree/themes/icons/doc11.png") 0px 0px no-repeat !important;
}